@import "var";

html {
  font-family: $font_main;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 855px;
  width: 944px;
  margin: 50px auto;
}
