$fontMain: roboto, sans-serif;
$colorMain: #00acdc;
$colorBg: #fff;
$colorBr: #f3f3f3;
$colorFont: #000;
$headerHeight: 60px;
$productCardWidth: 200px;
$productCardHeight: 403px;
$productCardMargin: 48px;
$isActiveHeight: 4px;
$buttonHeight: 40px;
