@import "vars";
@import "mixins";

.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, $productCardWidth);
  grid-column-gap: $productCardMargin;
  grid-row-gap: $productCardMargin + 1px;
  max-width: 4 * $productCardWidth + 3 * $productCardMargin;
  justify-content: center;
  align-content: center;
  margin: 50px auto;
}
