@import "vars";
@import "mixins";

.catalog {
  display: grid;
  grid-template-rows: repeat(2, $productCardHeight);
  grid-template-columns: repeat(4, $productCardWidth);
  grid-column-gap: $productCardMargin;
  grid-row-gap: $productCardMargin + 1px;
  justify-content: center;
  align-content: center;
  margin: 50px auto;
}
