@import "vars";
@import "mixins";

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: $productCardWidth;
  height: $productCardHeight;
  border: 1px solid $colorBr;
  border-radius: 5px;
  padding: 14px;
  background-color: $colorBg;

  &__img-box {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 5px 32px;
    padding: 15px 5px 13px;
    transition: transform 1s;

    &:hover {
      transform: scale(1.2);
      outline: 3px solid $colorBr;
    }
  }

  &__img {
    height: 134px;
    width: 160px;
  }

  &__title {
    margin: 0 0 6px;
    line-height: 15px;
    @include fontSizeTitle;
  }

  &__description {
    @include fontSizeDescription;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__container--rating {
    align-items: flex-end;
    margin-top: 14px;
  }

  &__container--price {
    align-items: baseline;
    margin-top: 19px;
  }

  &__price {
    @include fontSizePrice;
  }

  &__button-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 19px;
    border: 1px solid $colorMain;
    border-radius: 5px;
    line-height: $buttonHeight;
    @include fontSizeButton;
    background-color: $colorMain;
    color: $colorBg;
    transition: color 0.5s, background-color 0.5s;

    &:hover {
      background-color: $colorBg;
      color: $colorMain;
    }
  }
}
